		<tr>
          <td><%= sale.id %></td>
          <td><%= sale.name %></td>
          <td><%= sale.parent.name if sale.parent.present? %></td>
          <td>
            <%= link_to 'Изменить', edit_admin_sale_path(sale), class: 'btn btn-outline-primary btn-sm'  %>
            <%= link_to 'Удалить', admin_sale_path(sale), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-outline-danger btn-sm'  %>
          </td>
        </tr>