<%= form_with(model: [:admin, @sale] , local: true) do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    <p>
    <%= form.label :Родитель %><br>
    <%= form.collection_select :parent_id, Sale.order(:name), :id, :name, {include_blank: true } %> <%# where("id != #{@sale.id}") %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', admin_sales_path %>