        <tr>
          <td><%= slider.title %></td>
          <td><%= if slider.image 
            image_tag slider.image_url, class: "offers_elem", style: "max-height: 200px; width: 50%"
            end %></td>
          <td><%= slider.position %></td>
          <td>
            <%= link_to 'Открыть', admin_slider_path(slider), class: 'btn btn-outline-primary btn-sm'  %>
            <%= link_to 'Изменить', edit_admin_slider_path(slider), class: 'btn btn-outline-primary btn-sm'  %>
            <%= link_to 'Удалить', admin_slider_path(slider), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-outline-danger btn-sm'  %>
          </td>
        </tr>