<%= form_with(model: [:admin, @place], local: true) do |form| %>
<% if place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= form.label :Заголовок %><br>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Описание %><br>
    <%= form.cktext_area :body, id: :place_body, class:"form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :Дата_начала %><br>
    <%= form.date_field :start_time, type: "date", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Дата_окончания %><br>
    <%= form.date_field :end_time, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Адрес %><br>
    <%= form.text_field :adress, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Категория %><br>
    <%= form.collection_select :event_id, Event.order(:name), :id, :name, :promt =>"Select one", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Изображения %>
    <div class="image-sortable">
      <% place.images.each do |image| %>
        <div class="image">
          <%= hidden_field :place, :images, multiple: true, value:  image.cache_name || image.identifier %>
          <%= image_tag(image.url, height: 50) %>
          <button type="button" class="remove-image">Удалить</button>
        </div>
      <% end %>
      <div class="image">
        <%= form.file_field :images, multiple: true %>
      </div>
    </div>
  </div>

    <div class="form-group">
      <%= form.label :meta, "Метатеги:" %><br>
    <div class="form-group">
      <%= form.label :mtitle, "Title" %><br>
      <%= form.text_field :mtitle, class:"form-control" %>
    </div>

      <div class="form-group">
      <%= form.label :mdescription, "Description" %><br>
      <%= form.text_field :mdescription, class:"form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :Рекламная_позиция %><br>
    <%= form.number_field :adwpos, class:"form-control" %>
  </div>

   <div class="form-group">
  <%= form.check_box :free %>
    <%= form.label :Бесплатно %>
  </div>

  <div class="form-group">
    <%= form.check_box :active %>
    <%= form.label :Опубликовать %>
  </div>

  <div class="form-group">
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
    <%= link_to 'Назад', :back, class: "btn btn-secondary" %>
  </div>

<% end %>
