  	<div class="container sticky-top">
	    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <%= link_to image_tag("logo.png", size: 80), root_path, class: "navbar-left" %>

	        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	                 <li class="nav-item">
	                    <a class="nav-link nav-sim dropkz" href="#">
	                        На день рождения
	                    </a>
	                </li>
	                 <li class="nav-item">
	                    <%= link_to "Выгодные предложения", discounts_path, class: "nav-link nav-sim dropkz" %>
	                        
	                </li>
	                 <li class="nav-item">
	                    <%= link_to "Куда сходить", places_path, class: "nav-link nav-sim dropkz" %>
	                </li>
	                 <li class="nav-item">
	                    <%= link_to "Интересно почитать", posts_path, class: "nav-link nav-sim dropkz" %>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link nav-sim dropkz" href="#">
	                        Сотрудничество
	                    </a>
	                </li>
	            </ul>
	            <div class="soc-bt mr-auto d-none d-xl-block">
	                <a class="nav-soc" href="#"> <i class="fab fa-facebook-square fa-2x"></i></a>


	                <a class="nav-soc" href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>

	                <a class="nav-soc" href="#"><i class="fab fa-vk fa-2x"></i></a>

	                <a class="nav-soc" href="#"><i class="fab fa-odnoklassniki-square fa-2x"></i></a>

	                <a class="nav-soc" href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
	            </div>
	        </div>
	    </nav>
	    <% if user_signed_in? %> 
	    	<%= current_user.email %>
        	<%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
        <% else %>
            <a href=" <%= new_user_session_path %> ">Войти</a>
        <% end %>
	</div>