<div class="row sort">
        <div class="col-lg-2 col-5 col-md-4 offset-lg-5">
            <button class="kz-btn dropdown-toggle ml-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировать</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "По названию А-Я", params.merge(:order => "title ASC").permit(:utf8, :search, :type, :commit, :page, :order, :id), class: 'dropdown-item' %>
                <%= link_to "По названию Я-А", params.merge(:order => "title DESC").permit(:utf8, :search, :type, :commit, :page, :order, :id), class: 'dropdown-item' %>
                <%= link_to "По дате ↑", params.merge(:order => "updated_at ASC").permit(:utf8, :search, :type, :commit, :page, :order, :id), class: 'dropdown-item' %>
                <%= link_to "По дате ↓", params.merge(:order => "updated_at DESC").permit(:utf8, :search, :type, :commit, :page, :order, :id), class: 'dropdown-item' %>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-5 offset-2 offset-md-4 offset-lg-0">
            <a href="map/"> <button class="kz-btn"><%= image_tag "map.svg", class: "mapicon", size: "14x20"%>На карте</button> </a>
        </div>
    </div>