<div class="row sort">
        <div class="col-lg-2 col-5 col-md-4 offset-lg-5">

            <% if params[:controller] == 'discounts' %>
                <a href="/maps/?type=D" class="map-cat-btn"> <button class="kz-btn"><%= image_tag "map.svg", class: "mapicon", size: "14x20"%>На карте</button> </a>
                <% elsif params[:controller] == 'places' %>
                <a href="/maps/?type=P" class="map-cat-btn"> <button class="kz-btn"><%= image_tag "map.svg", class: "mapicon", size: "14x20"%>На карте</button> </a>
                <% elsif params[:controller] == 'sales' %>
                <a href="/maps/?type=S&amp;id=<%=params[:id]%> class="map-cat-btn""> <button class="kz-btn"><%= image_tag "map.svg", class: "mapicon", size: "14x20"%>На карте</button> </a>
                <% elsif params[:controller] == 'events' %>
                <a href="/maps/?type=E&amp;id=<%=params[:id]%> class="map-cat-btn""> <button class="kz-btn"><%= image_tag "map.svg", class: "mapicon", size: "14x20"%>На карте</button> </a>
                <%else%>
            <% end %>
        </div>

        <div class="col-lg-2 col-md-4 col-5 offset-2 offset-md-4 offset-lg-0 cat-sort">
        <button class="kz-btn dropdown-toggle ml-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировать</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <%= button_tag "Сбросить", class: 'dropdown-item', value: "" %>
                <%= button_tag "Сначала новые", class: 'dropdown-item', value: "updated_at DESC" %>

                <% if params[:controller] == 'places' || params[:controller] == 'discounts' %>
                <%# ИСПРАВЬ!!!! В ПГ есть НУЛЛ ЛАСТ! %>
                <%= button_tag "Скоро завершатся", class: 'dropdown-item', value: "CASE WHEN end_time IS NULL THEN 1 ELSE 0 END, end_time" %>
                <% end %>
                <% if params[:controller] == 'discounts' %>
                <%= button_tag "По размеру %", class: 'dropdown-item', value: "CASE WHEN end_time IS NULL THEN 1 ELSE 0 END, end_time" %>

                <% end %>
            </div>
        </div>
    </div>