<div class="container search">
    <%= form_tag places_path, :method => 'get', class: "form-group search-form" do %>
        <div class="form-row justify-content-center">
            <div class="col-md-6 mb-3 cats">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Поиск скидок" %>
            </div> 
            <div class="col-md-2 mb-2 d-none d-md-block cats">
                <%= date_field :date, nil, value: params[:date], class: "form-control" %>
            </div>
            <div class="col-md-2 mb-2 d-none d-md-block cats form-check form-control">
                <%= check_box_tag :free, true, false, class: " form-check-input", style: "margin-left: 20px" %>
                <%= label_tag :free, 'Бесплатные', class: "form-check-label", style: "margin-left: 40px" %>

            </div>
            <div class="col-md-2 mb-3 cats">
                <%= submit_tag "Поиск", class: "kz-btn form-control d-none d-md-block search-btn-tag" %>
            </div>
        </div>
<% end%>
</div>

