    <tr>
      <td><%= discount.title %></td>
      <td><%= discount.body %></td>
      <td><%= discount.end_time %></td>
      <td><%= discount.adress %></td>
      <td><%= discount.sale_id %></td>
      <td><%= discount.active %></td>
      <td><%= discount.offer %></td>

      <td><%= link_to 'Show', discount_path(discount) %></td> 
    </tr>