<%= form_with(model: @discount, local: true) do |form| %>
<% if discount.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(discount.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% discount.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %><br>
    <%= form.cktext_area :body, id: :discount_body %>
  </div>
  <div>
    <%= form.label :end_time %><br>
    <%= form.date_field :end_time %>
  </div>
  <div>
    <%= form.label :adress %><br>
    <%= form.text_field :adress %>
  </div>
  <div>
    <%= form.label :Категория %><br>
    <%= form.collection_select :sale_id, Sale.order(:name), :id, :name, :promt =>"Select one" %>
  </div>
  <div>
    <%= form.label :offer %><br>
    <%= form.number_field :offer %>
  </div>
  <div>
    <%= form.label :images %>
    <div class="image-sortable">
      <% discount.images.each do |image| %>
        <div class="image">
          <%= hidden_field :discount, :images, multiple: true, value:  image.cache_name || image.identifier %>
          <%= image_tag(image.url, height: 50) %>
          <button type="button" class="remove-image">Удалить</button>
        </div>
      <% end %>
      <div class="image">
        <%= form.file_field :images, multiple: true %>
      </div>
    </div>
  </div>

    <div>
    <%= form.label :active %><br>
    <%= form.check_box :active %>
  </div>
     <div>
    <%= form.label :adwpos %><br>
    <%= form.number_field :adwpos %>
  </div>

  

  <div>
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', sales_path %>