    <% if @discount.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @discount.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<%= form_with scope: :discount, url: discounts_path, local: true do |form| %>


  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.label :end_time %><br>
    <%= form.date_field :end_time %>
  </p>
  <p>
    <%= form.label :adress %><br>
    <%= form.text_field :adress %>
  </p>
  <p>
    <%= form.label :Категория %><br>
    <%= form.collection_select :sale_id, Sale.order(:name), :id, :name, :promt =>"Select one" %>
  </p>
  <p>
    <%= form.label :offer %><br>
    <%= form.number_field :offer %>
  </p>


    <p>
    <%= form.label :active %><br>
    <%= form.check_box :active %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', sales_path %>
