<div class="sale">
            <h2 class="titcat">Выгодные предложения</h2>
                <div class="row offer_bloks">
                    
                       
                        <% 3.times do |i| %>
                            <div class="col-md-4 col-sm-12 offer_bloks_el">
                               <% discount = @discounts[i] %>
                                <a href=<%= discount_path(discount) %>>
                                      <%= if discount.images.any? 
                                        image_tag discount.images_urls[0], class: "offers_elem img-fluid"
                                        end %>
                                      <div class="offers_elem_text">
                                       <%= discount.title %>
                                      </div>
                                </a>
                            </div>
                        <% end %>
                      </div>
                    <a href="./discounts" class="d-sm-block d-md-none sm-more kz-btn btn-back form-control">Посмотреть всё</a>
                    <div class="d-md-none see-more">
                        <h4>Смотри также</h4>
                        <div class="row offer_bloks flex-nowrap">
                             <% (3...9).each do |i| %>
                              <div class="col-5 offer_bloks_el">
                                   <% discount = @discounts[i] %>
                                    <a href=<%= discount_path(discount) %>>
                                          <%= if discount.images.any? 
                                            image_tag discount.images_urls[0], class: "offers_elem"
                                            end %>
                                           <%= discount.title %>
                                    </a>
                                </div>
                        <% end %>  
                        </div>
                    </div>
                    <div class="row d-none d-md-flex offer_bloks">
                        <% (3...9).each do |i| %>
                             <div class="col-md-4 col-sm-12 offer_bloks_el">
                                   <% discount = @discounts[i] %>
                                    <a href=<%= discount_path(discount) %>>
                                          <%= if discount.images.any? 
                                            image_tag discount.images_urls[0], class: "offers_elem"
                                            end %>
                                          <div class="offers_elem_text">
                                           <%= discount.title %>
                                          </div>
                                    </a>
                                </div>
                        <% end %>  
                    </div>
</div>
<div class="place"> <%# Переименуй discount в place %>
    <h2 class="titcat">Куда сходить?</h2>
    <div class="row offer_bloks">
            <% 3.times do |i| %>
                <div class="col-md-4 col-sm-12 offer_bloks_el">
                  <% if @places[i] %>
                   <% place = @places[i] %>
                    <a href=<%= place_path(place) %>>
                          <%= if place.images.any? 
                            image_tag place.images_urls[0], class: "offers_elem img-fluid"
                            end %>
                          <div class="offers_elem_text">
                           <%= place.title %>
                          </div>
                    </a>
                  <% end %>
                </div>
            <% end %>
    </div>

    <a href="./places" class="d-sm-block d-md-none sm-more kz-btn btn-back form-control">Посмотреть всё</a>
    <div class="d-md-none see-more">
        <h4>Смотри также</h4>
        <div class="row offer_bloks flex-nowrap">
            <% (3...9).each do |i| %>
                  <div class="col-5 offer_bloks_el">
                    <% if @places[i] %>
                       <% place = @places[i] %>
                        <a href=<%= place_path(place) %>>
                              <%= if place.images.any? 
                                image_tag place.images_urls[0], class: "offers_elem"
                                end %>
                               <%= place.title %>
                        </a>
                    <% end %>  
                  </div>
            <% end %>
        </div>
    </div>

    <div class="row d-none d-md-flex offer_bloks">
        <% (3...9).each do |i| %>
                 <div class="col-md-4 col-sm-12 offer_bloks_el">
                  <% if @places[i] %>
                       <% place = @places[i] %>
                        <a href=<%= place_path(place) %>>
                              <%= if place.images.any? 
                                image_tag place.images_urls[0], class: "offers_elem"
                                end %>
                              <div class="offers_elem_text">
                               <%= place.title %>
                              </div>
                        </a>
                  <% end %> 
                </div> 
        <% end %>
    </div>

</div>

<div class="posts"> <%# Переименуй discount в place %>
    <h2 class="titcat">Интересно почитать</h2>
    <div class="row offer_bloks">
            <% 3.times do |i| %>
                <div class="col-md-4 col-sm-12 offer_bloks_el">
                  <% if @posts[i] %>
                   <% post = @posts[i] %>
                    <a href=<%= post_path(post) %>>
                          <%= if post.images.any? 
                            image_tag post.images_urls[0], class: "offers_elem img-fluid"
                            end %>
                          <div class="offers_elem_text">
                           <%= post.title %>
                          </div>
                    </a>
                  <% end %>
                </div>
            <% end %>
    </div>

    <a href="./posts" class="d-sm-block d-md-none sm-more kz-btn btn-back form-control">Посмотреть всё</a>
    <div class="d-md-none see-more">
        <h4>Смотри также</h4>
        <div class="row offer_bloks flex-nowrap">
            <% (3...9).each do |i| %>
                  <div class="col-5 offer_bloks_el">
                    <% if @posts[i] %>
                       <% post = @posts[i] %>
                        <a href=<%= post_path(post) %>>
                              <%= if post.images.any? 
                                image_tag post.images_urls[0], class: "offers_elem"
                                end %>
                               <%= post.title %>
                        </a>
                    <% end %>  
                  </div>
            <% end %>
        </div>
    </div>

    <div class="row d-none d-md-flex offer_bloks">
        <% (3...9).each do |i| %>
                 <div class="col-md-4 col-sm-12 offer_bloks_el">
                  <% if @posts[i] %>
                       <% post = @posts[i] %>
                        <a href=<%= post_path(post) %>>
                              <%= if post.images.any? 
                                image_tag post.images_urls[0], class: "offers_elem"
                                end %>
                              <div class="offers_elem_text">
                               <%= post.title %>
                              </div>
                        </a>
                  <% end %> 
                 </div> 
        <% end %>
    </div>

</div>


