<!DOCTYPE html>
<html>
  <head>
    <title>Kzn</title>
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Share+Tech&amp;subset=cyrillic" rel="stylesheet">

  </head>

  <body>
  	<%= render 'shared/navbar' %>
	<%= render 'shared/catslider' %> 
	<%# render 'shared/catnav' %> 
	<%# render 'shared/src' %> 

	<div class="container d-none d-md-block bloks ">
	    <div class="row">

	        <div class="col-md-4 kat_blok">
	            <a href="/discounts"><%= image_tag "orders.png", class: "blok", alt: "orders" %></a>
	        </div>
	        <div class="col-md-4 kat_blok">
	            <a href="/places"><%= image_tag "afisha.png", class: "blok", alt: "afisha" %></a>
	        </div>
	        <div class="col-md-4 kat_blok">
	             <a href="/posts"><%= image_tag "lifehacker.png", class: "blok", alt: "lifehack" %></a>
	        </div>
	    </div>
	</div>

	<div class="container main conpost">

		<div class="row">
			<div class="col-md-12">
				<% flash.each do |name, message| %>
					<div class="alert alert-<%= name %>">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= message %>
					</div>	
				<%end %>
			</div>
		</div>

	    <div class="row">
	        <div class="col-lg-9 col-md-12 offers">           
				<%= yield %>
			</div>
	        <div class="col-lg-3 d-none d-lg-block adws-main sticky-block">
				<%= render 'shared/adws' %> 
	        </div>
	    </div>
	</div>

    <footer class="kaz-footer">
    	<%= render 'shared/footer' %> 
	</footer>
	<script src="/assets/adw.js"></script>
  </body>
</html>
