<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:mtitle)%></title>
    <meta name="description" content="<%=yield(:mdescription)%>">
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Share+Tech&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body>
  	<%= render 'shared/navbar' %>
			<%# render 'shared/catslider' %> 
			<%= render :partial => 'shared/catnav', :locals => {:name => yield(:category), :type => yield(:type)} %> 
			<%# render 'shared/src' %> 
	<div class="container main conpost">
	    <div class="row">

	        <div class="col-lg-9 col-md-12">           
				<%= yield %>
			</div>
	        <div class="col-lg-3 d-none d-lg-block adws-post sticky-block">
				<%= render 'shared/adws' %> 
	        </div>
	    </div>
	</div>

    <footer class="kaz-footer">
    	<%= render 'shared/footer' %> 
	</footer>
	<script src="/assets/adw.js"></script>
  </body>
</html>
